:root {
  --main-color: #0068B3;
  --secondary-color: #FFC423;
  --main-font: "Balthazar", serif;
  --secondary-font: "News Cycle", sans-serif;
 }
 
 .App {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: white;
 }
 
 .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .header h1 {
  font-family: var(--main-font);
  font-size: 30px;
  color: var(--main-color);
 }
 .left-side-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
  padding: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 .article-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10em;
 }
 
 .article-card {
  width: 350px;
  height: auto;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1vw;
  box-sizing: border-box;
  border: 5px solid var(--main-color);
 }
 
 .article-card img {
  width: 100%;
  height: auto;
 }
 
 .article-card p {
  font-size: 1.2em;
 }
 
 .article-card h1 {
  text-align: center;
 }